name: Test
on:
  pull_request:
  push:
    branches:
      - main
permissions:
  pull-requests: write
  contents: write

jobs:
  tests:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: Validate
        run: |
          ./helper.sh generate
          git diff --exit-code
      - name: Coverage Report
        uses: gwatts/go-coverage-action@v2
        id: coverage
        with:
          coverage-threshold: 80
          cover-pkg: ./...
          ignore-pattern: |
            .*cmd.*
            .*mocks.*
